.App {
  text-align: center;
}

.SearchForm-wrapper{
  display: flex;
  justify-content: center;
}

.MovieList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MovisList-item{
  margin-bottom: 24px;
  width: 48%;
}

.image-size{
  width: 300px;
}